.o-dropdown {
    position: relative;

    --dropdown-position-from-top: 0;

    &__toggle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
    }

    &__search {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: calc(-100% - 22px);
        padding: 8px 12px;
        border-radius: 4px 4px 0 0;
        border: solid 1px $sl-color-gray--400;
        z-index: 9999;
        background: $sl-color-white;
        border-bottom: none;

        .o-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .dds-icon_search__l__stroke {
            left: 8px;
        }

        .dds-icon_close__l__stroke {
            right: 8px;
            cursor: pointer;
            padding: 4px;
            border-radius: 100%;

            &:hover {
                background-color: rgba($sl-color-gray--400, .2);
            }

        }

        input {
            padding: 5px 28px 7px;

            &:active,
            &:focus {
                border-color: $sl-color-black;
            }
        }
    }

    &__list {
        @extend %extend-scrollbar--transparent;

        position: absolute;
        top: 100%;
        left: 0;
        margin: 4px 0;
        padding: 8px 0;
        z-index: 1000;
        width: auto;
        min-width: 170px;
        display: none;
        background: $sl-color-white;
        color: $sl-color-black;
        border-radius: 4px;
        border: solid 1px $sl-color-gray--400;

        &--hide,
        &.hide,
        .hide > & {
            display: none !important;
        }

        &--show,
        &.show,
        .show > & {
            display: block;
        }

        &--fullWidth {
            width: 100%;
        }

        &--overflowReset {
            overflow: initial;
        }

        &--search {
            margin-top: 52px !important;
        }

        &--a-s-toolbar-width {
            width: calc(100vw - 48px);
            margin-top: 8px;

            &--first-icon {
                transform: translateX(-4px);
            }
        }

        &--filters {
            padding: 16px 24px;
        }

        &--templates-list {
            min-width: 300px;
            max-width: 320px;
            max-height: calc(100vh - 156px);
        }

        &--menu-content-list {
            width: 320px;
            transform: translateX(-85px) !important;
            max-height: 480px;

            .o-dropdown__item {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__divider {
                margin: 0 16px;
                border-bottom: 1px solid $sl-color-gray--400;
            }
        }

        &--system-flows {
            right: -24px;
            left: auto !important;
            min-width: 240px;

            .o-dropdown__list--icons {
                &__container {
                    flex-direction: column;
                    padding: 12px 16px 15px 12px;
                    
                    .o-icon {
                        margin-top: 11px;
                        padding: 8px;
                        border-radius: 4px;
                        border: 1px solid $gl-color-grey--450;
                        color: $gl-color-grey--600;
                        background-color: $gl-color-white;

                        &:hover, &__active {
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
                        }
                    }
                }
                &__title {
                    font-size: 14px;
                    line-height: 20px;
                }   
            }
        }

        &--system-flows,
        &--context-menu {
            box-shadow: none;

            &--top {
                top: auto;
                bottom: 24px;
            }

            .line {
                height: 1px;
                background-color: $sl-color-gray--400;
                margin: 0 16px;
            }

            &__item {
                color: $sl-color-black;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                &:hover {
                    background-color: rgba($sl-color-gray--400, .2);
                }

                &--alert {
                    color: $sl-color-dark-red;

                    .o-icon {
                        color: inherit;
                    }
                }

                .o-icon {
                    margin: 11px 12px 13px 16px;
                    font-size: 16px;
                    color: $gl-color-grey--600;
                }
            }

            &-small {
                min-width: 120px;
            }
        }

        &--context-menu {
            display: block;
            margin: 0;
            min-width: unset;
            position: unset;
        }

        &--button-configuration {
            max-height: 124px;
        }

        &--multiselect {
            max-height: 232px;
        }
    }


    &__item {
        display: flex;
        align-items: center;
        min-height: 32px;
        height: auto;
        padding: 10px 16px 10px 16px;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.42;
        color: $sl-color-black;
        font-weight: normal;
        width: 100%;
        white-space: pre;

        &Icon {
            text-align: center;
            margin-right: 8px;
            min-width: 24px;
            color: $gl-text-dark-grey;
        }

        &:hover,
        &:active,
        &.mat-menu-item-highlighted,
        &--active {
            background-color: $gl-bg-grey--hover;
            color: $sl-color-black;
            text-decoration: none;
        }

        &--isChild {
            padding-left: 34px;
        }

        &--underlined {
            border-bottom: 1px solid $gl-color-grey--450;
        }

        &--pinned {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            height: 48px;
            border-bottom: 1px solid $gl-color-grey--450;
            z-index: 2;
            background-color: $gl-color-white;

            &:last-child {
                border-bottom: none;
            }
        }

        &--info {
            color: $gl-color-grey--600;
            padding: 16px 24px;
            font-size: 12px;
            line-height: 16px;
        }

        &-ellipsis {
            @extend %extend-text-ellipsis;
        }

        &--empty {
            cursor: default;
            pointer-events: none;
            user-select: none;
            opacity: .5;
        }

        &--disabled {
            cursor: default;
            opacity: .5;
        }

        &--divider {
            position: relative;
            padding-bottom: 16px;

            &:after {
                content: '';
                position: absolute;
                left: 12px;
                right: 12px;
                bottom: 0;
                background-color: $gl-color-grey--450;
                height: 1px;
            }
        }

        &--sticky {
            position: sticky;
            top: 8px;
            background-color: $gl-color-white;
            z-index: 1;
            padding: 10px 16px;
            margin: 8px 0;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -8px;
                height: 8px;
                z-index: 2;
                width: 100%;
                background-color: $gl-color-white;
            }
        }
    }

    &__action {
        vertical-align: middle;
    }

    &__icon {
        margin-right: 8px;
    }

    &__user {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $sl-color-gray--200;
        background: $gl-bg-grey--hover;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 16px 10px;
        width: 236px;
        height: 63px;
        line-height: 20px;

        &Name {
            font-weight: 400;
            font-size: 14px;
        }

        &Email {
            font-weight: 400;
            font-size: 14px;
            color: $gl-color-grey--600
        }
    }

    &__arrow {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
    }

    &.open {
        .o-dropdown {
            &__button {
                position: relative;
                z-index: 999;
            }

            &-overlay {
                position: fixed;
            }

            &__arrow {
                transform: rotate(180deg);
            }

            &__list {
                display: block;
            }
        }
    }

    &-overlay {
        inset: 0;
        background-color: rgba($gl-bg-dark, .2);
        z-index: 998;
    }

    &--disabled {
        pointer-events: none;
        opacity: .4;
    }
}

.o-dropdown.show {
    .flows-item-context-menu-icon {
        .o-button {
            border: solid 1px $sl-color-gray--600;
        }
    }
}

.dropup {
    .o-dropdown__list {
        top: auto;
        bottom: 100%;
        margin-top: -4px;
    }
}

.dd-overlay {
    position: absolute;
    left: 0;
    top: 0;
}


