@import '../../../../../assets/glide/styles/helpers/variables';

.c-dropdownSystems {
    &:has(.o-dropdown.open) {
        .o-dropdown-overlay {
            position: fixed;
        }

        .c-dropdownSystems__wrapper {
            position: relative;
            z-index: 999;
            background-color: $gl-bg-light;
            color: $gl-text-black;
        }
    }

    .o-dropdown {
        &__toggle {
            padding: 10px 0 14px;
        }

        &__title,
        &__item {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
        }

        &__list {
            border: 1px solid $gl-border-color--gray;
            margin-top: -2px;
            max-height: 216px;
        }

        &__item {
            white-space: normal;
        }

        &.disabled {
            .o-dropdown__arrow {
                display: none;
            }
        }
    }

    &__search-content {
        display: flex;
        flex-direction: column;
        padding: 8px 16px 16px;
        position: sticky;
        top: 0;
        background-color: $gl-color-white;

        &--search {
            height: 32px;
            border: 1px solid black;
            position: relative;
            width: 100%;
            box-sizing: border-box;
            padding-left: 30px;
            border: 1px solid $sl-color-gray--400;

        }

        &--icon {
            position: absolute;
            color: $gl-color-grey--550;
            top: 16px;
            left: 30px;
        }

    }

    &__search-items {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__empty-filters {
        background: $gl-color-grey--100;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16px 12px;
    }
}
