.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#CDCDCB, .2);
    z-index: 99;

    &--dark-bg {
        background-color: rgba(0, 0, 0, 0.5)
    }

    &__circle {
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    &__spinner {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        & > .o-icon {
            &:before {
                position: absolute;
                font-size: 40px;
                animation: spin 1s infinite linear;
                opacity: 0.5;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
