.o-field {

    & + & {
        margin-top: 8px;
    }

    &--lar {
        margin-bottom: 20px;
    }

    &__label {
        padding: 5px 8px 7px 12px;
        color: $gl-color-grey--600;
        font-size: 12px;
        line-height: 16px;

        &--reqiured{
            padding-left: 0;

            &:after {
                content: "*";
                margin-left: 1px;
                color: $sl-color-dark-red;
            }
        }

        &--lg {
            color: $sl-color-black;
            font-size: 14px;
            line-height: 20px;
        }

        &--title {
            font-weight: 600;
            padding: 5px 0 7px 0;
            display: block;
        }
    }

    &__input {
        @include mixin-placeholder($gl-placeholder-color);

        width: 100%;
        padding: 5px 12px 7px;
        border: solid 1px $gl-border-color-field;
        border-radius: $gl-border-radius-sm;
        outline: none;

        &[readonly] {
            background-color: $gl-color-grey--450;
            border-color: $gl-color-grey--450;

            .o-field--drop-down-toggle & {
                background-color: transparent;
                border-color: $gl-border-color-field;
                cursor: pointer;
                user-select: none;
            }
        }

        &--allowable {
            border-color: $gl-border-color--access-green;
        }

        &--error {
            border-color: $gl-border-color-error !important;
        }

        &--silent {
            &[disabled] {
                background-color: $gl-color-grey--100;
                border-color: $gl-color-grey--100;
            }
        }

        &--ellipsed {
            text-overflow: ellipsis;
        }

        &--hidden {
            display: none;
        }

        &--visibility {
            padding-right: 36px;
        }

        &--text-placeholder {
            color: $gl-color-grey--550;
        }
    }

    &__textarea {
        resize: none;
    }

    textarea {
        resize: none;

        &.o-field__input {
            min-height: 72px;
        }
    }


    .o-dropdown {
        &__toggle {
            padding-left: 12px;
            border-top: solid 1px $gl-border-color-field;

            &:hover {
                background-color: color-mix(in oklab, $sl-color-white 92%, $sl-color-black 8%);
            }
        }

        &__title {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            align-self: center;
        }
    }

    &__info {
        padding-top: 3px;
    }

    &__messageError {
        color: $gl-text-red;
        font-size: 12px;
        line-height: 16px;
    }

    &__counter {
        color: $gl-placeholder-color;
        font-size: 12px;
        line-height: 16px;
    }

    &__notes {
        margin-top: 28px !important;
        box-shadow: 0 1px 0 0 #D0D0CE inset;
    }

    &__zIndex {
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__debounce-time, &__minimum-supported-width, &__minimum-supported-height {
        position: relative;
        width: 160px;

        .o-field__units {
            position: absolute;
            top: calc(50% - 1px);
            transform: translateY(-50%);
            right: 36px;
            color: $gl-color-grey--550;
        }
    }

    &--sideUnits {
        position: relative;
        width: 130px;

        .o-field__input {
            text-align: center;
            padding-right: 42px;
            padding-left: 36px;

            &[type="number"] {
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        .o-field__unit-start,
        .o-field__unit-end {
            position: absolute;
            top: calc(50% - 1px);
            transform: translateY(-50%);
            color: $gl-color-grey--550;
        }

        .o-field__unit-end {
            right: 12px;
        }

        .o-field__unit-start {
            left: 12px;
        }

        &--size-106 {
            width: 106px;
        }

        &--dimensions {
            .o-field__input {
                padding-left: 12px;
                text-align: left;
            }
        }
    }

    &--drop-down-toggle {
        position: relative;
        width: 100%;
        cursor: pointer;

        &::before {
            font-family: 'dds-icon' !important;
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 12px;
            color: $gl-border-color-black;
            content: '\e99d';
            width: 16px;
            height: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        &--open {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    &__radio-group {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-top: 8px;

        &--small-gap {
            gap: 16px;
        }

        &--vertical {
            flex-direction: column;
            align-items: start;
        }
    }

    &__radio {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: $gl-border-color-black;
        line-height: 1.5;

        input[type="radio"] {
            appearance: none;
            width: 16px;
            height: 16px;
            border: 1px solid $gl-border-color-black;
            border-radius: 50%;
            outline: none;
            margin-right: 8px;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease-in-out;

            &:checked {
                background-color: $gl-border-color-black;
                border-color: $gl-border-color-black;
            }

            &:checked::after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $sl-color-white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__icon-info {
        font-size: 12px;
        border-radius: 50%;
        border: 1px solid;
    }

    &__tooltip-info {
        margin-bottom: 4px;
    }

    &-visibility {
        display: flex;
        align-items: center;
        padding: 6px 0;
        color: $gl-color-grey--600;

        .o-field__label {
            font-size: 14px;
            line-height: 20px;
            padding: 0;
        }

        &__ruleset-btn {
            background-color: $gl-bg-light-grey;
            font-weight: 600;
            text-decoration: underline;
            border-radius: 2px;
            border: none;
            padding: 0 4px;
            margin-left: 2px;
        }

        &__icon {
            position: relative;
            color: $gl-text-black;
            display: flex;
        }

        &__present {
            position: absolute;
            font-size: 1em;
            font-weight: 600;
            top: -9px;
            right: -10px;
            background-color: $gl-bg-green;
            border-radius: 1px;
        }
    }
}
