.o-switch {
    @extend %extend-user-select;

    display: flex;
    align-items: center;
    font-size: 13px;
    color: $sl-color-black;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;

    &__label {
        min-width: 22px;
        font-size: 11px;
        color: #ccc;
        text-transform: uppercase;
        transition: $sl-transition-primary;
        text-align: right;

        &:last-child {
            margin-left: 4px;
        }
    }

    &__name {
        margin-right: 16px;
        cursor: pointer;

        & ~ .o-switch__toggle {
            margin-left: 12px;
        }

        &--white {
            color: $sl-color-white;
        }

        &:empty {
            display: none;
        }
    }

    &__input {
        position: absolute;
        left: -9999px;

        &:checked + .o-switch__toggle {
            background-color: $sl-color-blue;

            &::after {
                background-color: $sl-color-white;
                transform: translateX(17px);
            }

            &--small {
                &::after {
                    transform: translateX(8px);
                }
            }
        }

        &:disabled {
            & + .o-switch__toggle,
            & ~ .o-switch__name {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }
    }

    &__toggle {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
        background-color: rgba(#999, 0.2);
        border-radius: 20px;
        transition: $sl-transition-primary;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 18px;
            background-color: #999;
            top: 4px;
            left: 4px;
            transition: $sl-transition-primary;
        }

        &--small {
            width: 24px;
            height: 16px;

            &::after {
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
            }

        }

        & + .o-switch__name {
            margin: 0 0 0 16px;
        }

        &-host {
            display: inline-block;
            height: 24px;
        }
    }

    &--default {

        .o-switch__label {
            font-size: 10px;
            margin-right: 8px;
            font-weight: 600;
            color: #97999B;
            text-transform: none;
            text-align: unset;

            &--active {
                color: unset;
            }
        }
    }

    &--green {
        .o-switch__input {
            &:checked + .o-switch__toggle {
                background-color: rgba($sl-color-green, 0.2);

                &::after {
                    background-color: $sl-color-green;
                }
            }
        }

        .o-switch__label {
            &--active {
                color: $sl-color-green;
            }
        }

        .o-switch__toggle {
            margin-left: 12px;
        }
    }

    &--pii,
    &--sm {
        .o-switch {
            font-size: 12px;

            &__name {
                margin: 0;
                font-weight: normal;

                & ~ .o-switch__toggle {
                    margin-left: 8px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &__toggle {
                width: 26px;
                height: 16px;
                background-color: #E0E0E0;

                &::after {
                    transform: translate(0, -50%);
                    top: 50%;
                    left: 2px;
                    width: 12px;
                    height: 12px;
                    background-color: $sl-color-white;
                }
            }

            &__input {
                &:checked + .o-switch__toggle {

                    &::after {
                        transform: translate(10px, -50%);
                    }
                }
            }
        }
    }

    &--pii {
        .o-switch {
            font-size: 13px;

            &__name {
                margin: 0 16px 0 6px;

                & ~ .o-switch__toggle {
                    margin-left: 12px;
                }
            }
        }
    }

    &--entity {
        .o-switch {
            &__name {
                font-weight: 600;
                margin-right: 0;
                color: $sl-color-black;
            }

            &__label {
                margin-left: 8px;
                text-align: left;
                color: $sl-color-black;

                &-small {
                    text-transform: none;
                    color: #ccc;

                    &--active {
                        color: #000;
                    }
                }
            }
        }
    }

    &--response {
        .o-switch {
            &__name {
                margin: 0 24px 0 6px;
                font-weight: normal;
            }

            &__toggle {
                width: 24px;
                height: 15px;
                background-color: #E0E0E0;

                &::after {
                    top: 2px;
                    left: 2px;
                    width: 11px;
                    height: 11px;
                    background-color: $sl-color-white;
                }
            }

            &__input {
                &:checked + .o-switch__toggle {

                    &::after {
                        transform: translateX(9px);
                    }
                }
            }
        }
    }

    &--switchless {
        .o-switch__toggle {
            display: none;
        }

        .o-switch__name {
            margin-left: 0;
        }
    }

    &--training-process {
        .o-switch {
            &__name {
                font-weight: 600;
                margin-right: 4px;
                color: $sl-color-gray--500;
                font-size: 10px;
            }

            &__toggle {
                margin-left: 0;
            }

            &__label {
                margin-left: 4px;
                text-align: left;
                text-transform: unset;
                color: $sl-color-black;
                font-size: 10px;
            }
        }
    }

    &--black {
        .o-switch__toggle {
            width: 24px;
            min-width: 24px;
            height: 4px;
            background-color: black;
            border-radius: 0;

            &:after {
                top: -6px;
                left: 0;
                border: 1px solid #000;
                background-color: $gl-border-color--gray;
            }

            + .o-switch__name {
                margin: 0 0 0 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                &--bold {
                    font-weight: 600;
                }
            }
        }

        .o-switch__input {
            &:checked + .o-switch__toggle {
                background-color: black;

                &:after {
                    transform: translateX(9px);
                    border-width: 6px;
                }
            }
        }
    }

    &--thick {
        .o-switch__toggle {
            &:after {
                border-width: 1px;
                background-color: #fff;
            }
        }
    }

    &--two-rows {
        white-space: normal;
        align-items: baseline;

        .o-switch__toggle {
            display: inline-flex;
            align-items: center;
            min-width: 24px;

            &::before {
                content: '';
                display: inline-block;
                height: 10px;
                width: 0;
                background-color: transparent;
            }
        }
    }
}
