.o-tooltip-css {
    display: none;
    font-size: 12px;
    line-height: 17px;
    padding: 3px 8px;
    border-radius: 2px;
    background: $gl-color-grey--600;
    width: 200px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: auto;
    right: calc(100% + 0.4rem);
    opacity: 0.9;

    &--left {
        &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            width: 0;
            height: 0;
            border-top: 0.4rem solid transparent;
            border-bottom: 0.4rem solid transparent;
            border-left: 0.4rem solid $gl-color-grey--600;
            transform: translateY(-50%);
        }
    }
}
