@import '../../../../../assets/glide/styles/helpers/variables';

.file-uploader {
    &__requirements {
        font-size: 12px;
        font-weight: 400;
        color: $gl-color-grey--600;
    }

    &__file-extension {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-color: $gl-color-grey--600;
        color: $gl-color-white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__file-name {
        font-size: 14px;
        color: $gl-color-grey--600;;
    }

    &__file-details {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__cancel-icon {
        margin-left: auto;
        cursor: pointer;
    }

    &__progress-bar-container {
        width: 100%;
        border-radius: 2px;
        height: 4px;
        background-color: $gl-color-grey--450;
        position: relative;

        &--error {
            background-color: $gl-color-red;
        }
    }

    &__progress-bar {
        height: 100%;
        position: absolute;
        background-color: $gl-color-black;
        left: 0;
    }

    &__file-size {
        font-size: 12px;
        color: $gl-color-grey--600;
    }

    &__status {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--success {
            color: $gl-color-accessible-green;
        }

        &--error {
            color: $gl-color-red;
        }
    }

    &__reload-btn {
        font-size: 12px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: $gl-color-grey--150;
    }
}
