.c-multilanguage {
    &__dropdown {
        width: 100%;

        .o-dropdown {
            &__list {
                max-height: 204px;
            }

            &__item--empty {
                opacity: 1;
                padding: 17px 12px 19px;
                white-space: normal;

                & > span {
                    background-color: $gl-bg-light-grey;
                    padding: 17px 12px 19px;
                    text-align: center;
                    border-radius: $gl-border-radius-sm;
                    width: 100%
                }
            }
        }

        mark, .mark {
            padding: 0;
            background-color: $gl-bg-highlight;
        }

    }
}
