$gl-l-cell-width: 230px;

.c-flow-translation {
    padding: 0 24px 24px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-header {
        flex-shrink: 0;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-footer {
        height: 64px;
        flex-shrink: 0;
        background-color: $gl-color-white;
    }

    &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 4px;
        }

        &__text {
            color: $gl-color-grey--600;
        }

        &__img {
            display: block;
            margin-bottom: 46px;
            width: 361px;
            height: auto;
        }
    }

    &-flow-name {
        width: 460px;
        position: sticky;
        left: 0;
        border-bottom: 1px solid $gl-color-grey--450;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 12px 12px 12px 24px;
    }

    &-step {
        border-bottom: 1px solid #D0D0CE;
        padding-bottom: 16px;

        &__name {
            width: 460px;
            position: sticky;
            left: 0;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 6px 12px 8px 24px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
        }
    }

    &-lang-panel {
        display: flex;

        &__cell {
            width: $gl-l-cell-width;
            min-width: $gl-l-cell-width;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;

            &:first-child {
                position: sticky;
                left: $gl-l-cell-width;
                background-color: $gl-color-white;
                z-index: 1;
            }

            &--with-control {
                position: relative;
            }
        }

        &__visibility {
            position: absolute;
            right: 48px;
            width: 36px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon {
                cursor: pointer;
                opacity: .4;
            }
        }

        &__remove {
            width: 36px;
            height: 32px;

            &:hover {
                .o-icon {
                    color: $gl-color-darkred;
                }
            }

            .o-icon {
                color: $gl-color-red;
            }
        }
    }

    &-table {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        overflow: auto;
        background-color: $gl-color-white;
        border-radius: 6px;

        .c-flow-translation-flow-content {
            &.hidden {
                display: none;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            flex: 1;
            z-index: 1;
            padding-right: 34px;
            width: fit-content;
            min-width: 100%;
        }

        &-cell {
            padding: 12px;
            width: $gl-l-cell-width;
            min-width: $gl-l-cell-width;

            &--main {
                padding: 12px 24px;
                font-weight: 600;
                color: $gl-color-grey--600;
                display: flex;
                align-items: center;
            }

            &--textarea {
                display: flex;
                flex-direction: column;

                textarea {
                    flex: 1;
                }
            }
        }

        &-row {
            display: flex;
            flex-direction: column;

            .c-flow-translation-table-cell {
                &:first-child {
                    position: sticky;
                    left: 0;
                    background-color: $gl-color-white;
                    z-index: 1;
                }

                &:nth-child(2) {
                    position: sticky;
                    left: $gl-l-cell-width;
                }
            }
        }

        &-sub-row {
            display: flex;
            flex-direction: row;

            .c-flow-translation-table-cell {
                &:first-child {
                    background-color: #fcfdf6;
                    padding-left: 24px;
                }

                &:nth-child(2) {
                    background-color: $gl-color-white;
                }
            }
        }

        &-header {
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: row;
            padding: 8px 34px 8px 0;
            width: fit-content;
            min-width: 100%;
            z-index: 2;
            background-color: $gl-color-white;
            border-bottom: 1px solid $gl-color-grey--450;
        }

        &-error {
            color: $gl-border-color-error;
        }
    }
}

gl-translation-language-panel {
    flex: 1;
}
