@import "../../helpers/variables";

.gl-rte-action-link {
    &--btn {
        display: inline-block;
        padding: 5px;
        color: $sl-color-wight;
        background-color: $sl-color-green-dark;
        border: 1px solid $sl-color-wight;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
    }
}