@keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

@keyframes delayed {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
