.c-bg {
    &__dark {
        background-color: $gl-bg-dark;
        color: $gl-text-white;
    }

    &__white {
        background-color: $gl-bg-light;
        color: $gl-text-black;
    }

    &__grey {
        background-color: $gl-bg-grey;
    }

    &__dark-grey {
        background-color: $gl-bg-dark-grey;
        color: $gl-text-white;
    }

    &__light-grey {
        background-color: $gl-bg-light-grey
    }

    &__dotted {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIiBmaWxsPSIjZGJkYmRiIj4gPGNpcmNsZSBjeD0iMSIgY3k9IjEiIHI9IjEiLz4gPGNpcmNsZSBjeD0iMjEiIGN5PSIxIiByPSIxIi8+IDxjaXJjbGUgY3g9IjEiIGN5PSIyMSIgcj0iMSIvPiA8Y2lyY2xlIGN4PSIyMSIgY3k9IjIxIiByPSIxIi8+PC9zdmc+');
        background-position: left 10px top 28px;
        background-size: 40px;
        background-color: #f6f6f6 !important;
    }
}
