%extend-scrollbar {
    overflow: auto;
    scrollbar-color: $sl-color-gray--400 $sl-color-gray--300;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 7px $sl-color-gray--300;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $sl-color-gray--400;
    }
}

%extend-scrollbar--transparent {
    overflow: auto;
    scrollbar-color: $sl-color-gray--400 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 7px transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $sl-color-gray--400;
    }
}

%extend-text-ellipsis {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%extend-type-colors {
    &--FRA,
    &.fra {
        &:before {
            background-color: $sl-type-color--Fra;
        }

        &:hover {
            border-top-color: $sl-type-color--Fra;
            border-right-color: $sl-type-color--Fra;
            border-bottom-color: $sl-type-color--Fra;
        }
    }

    &--CustomBot,
    &.custombot {
        &:before {
            background-color: $sl-type-color--CustomBot;
        }

        &:hover {
            border-top-color: $sl-type-color--CustomBot;
            border-right-color: $sl-type-color--CustomBot;
            border-bottom-color: $sl-type-color--CustomBot;
        }
    }

    &--Router,
    &.router {
        &:before {
            background-color: $sl-type-color--Router;
        }

        &:hover {
            border-top-color: $sl-type-color--Router;
            border-right-color: $sl-type-color--Router;
            border-bottom-color: $sl-type-color--Router;
        }
    }

    &--Folder,
    &.folder {
        &:before {
            background-color: $sl-type-color--Folder;
        }

        &:hover {
            border-top-color: $sl-type-color--Folder;
            border-right-color: $sl-type-color--Folder;
            border-bottom-color: $sl-type-color--Folder;
        }
    }

    &--Skill,
    &.skill {
        &:before {
            background-color: $sl-type-color--Skill;
        }

        &:hover {
            border-top-color: $sl-type-color--Skill;
            border-right-color: $sl-type-color--Skill;
            border-bottom-color: $sl-type-color--Skill;
        }
    }
}

%extend-user-select {
    user-select: none;
}

%extend-break-word {
    word-wrap: break-word;
    word-break: break-word;
}
