.u-hidden {
    display: none;
}

.u-htmlContent {
    line-height: 1.4;
    white-space: normal;

    * {
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin: 12px 0;
    }

    a {
        font-weight: normal;
        color: $sl-color-blue;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    strong, b {
        font-weight: bold;

        a {
            font-weight: bold;
        }
    }

    em, i {
        font-style: italic;
    }

    s, strike, del {
        text-decoration: line-through
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 12px 0;
    }

    ol {
        list-style: decimal;
        padding-left: 30px;
        margin: 12px 0;

        li {
            list-style: decimal;
            margin-top: 4px;
        }
    }

    ul {
        list-style: disc;
        padding-left: 30px;
        margin: 12px 0;

        li {
            list-style: disc;
            margin-top: 4px;
        }
    }

    blockquote {
        background: $sl-color-white;
        border-left: 8px solid $sl-color-gray--400;
        margin: 12px 0;
        padding: 12px;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 1.17em;
        font-weight: bold;
        margin-bottom: 12px;
    }
}

.u {
    &-inline-flex {
        display: inline-flex;
    }

    &-flex {
        display: flex;

        @for $i from 1 through 10 {
            &-g-#{$i} {
                gap: #{4 * $i}px;
            }
        }
    }

    &-m {
        &l {
            &-auto {
                margin-left: auto;
            }
        }
    }

    &-justify {
        &-between {
            justify-content: space-between;
        }
    }

    &-rotate {
        &-180 {
            transform: rotate(180deg);
        }
    }
}
