// Colors
$sl-color-blue: #00a3e0;
$sl-color-light-blue: #A0DCFF;
$sl-color-blue--light: #e5f6fc;
$sl-color-white-blue: #f1f8fb;
$sl-color-white: #fff;
$sl-color-black: #000;
$sl-color-black--light: #767676;
$sl-color-green: #86BC25;
$sl-color-green-dark: #26890D;
$sl-color-green--light: #EDF5DA;
$sl-color-red: #D12510;
$sl-color-red-darker: #C91B0E;
$sl-color-dark-red: #da291c;
$sl-color-red--light: #DE4034;
$sl-color-pink--light: #F8D4D2;
$sl-color-red--extra-light: #FCEEED;
$sl-color-yellow: #FFD500;
$sl-color-light-yellow: #E3E48D;
$sl-color-light-lemon: #FFF9E2;
$sl-color-orange-light: #FCEAD1;
$sl-color-orange-light: #FCEAD1;
$sl-color-orange: #ED8B00;
$sl-color-orange-darker: #F39000;
$sl-color-orange-dark: #CF7800;
$sl-color-yellow--light: #FFFAE5;
$sl-color-gray--600: #53565A;
$sl-color-gray--500: #97999B;
$sl-color-gray--400: #D0D0CE;
$sl-color-gray--350: #E1E1E1;
$sl-color-gray--300: #f8f8fa;
$sl-color-gray--250: #E8E8EB;
$sl-color-gray--200: #f5f5f5;
$sl-color-gray--100: #f2f2f2;
$sl-color-wight: #ffffff;
$sl-color-dark-gray: #464A4F;
$sl-color-dark-blue: #007cb0;

//Glide colors
$gl-color-black--light: #141414;
$gl-color-grey--600: #53565A;
$gl-color-grey--550: #63666A;
$gl-color-grey--450: #D0D0CE;
$gl-color-grey--400: #DBDBDA;
$gl-color-grey--350: #E0E0E0;
$gl-color-grey--300: #EBEBEB;
$gl-color-grey--250: #EAEAE9;
$gl-color-grey--200: #F6F6F6;
$gl-color-grey--150: #BBBCBC;
$gl-color-grey--100: #F5F5F5;
$gl-color-green: #C4D600;
$gl-color-red: #da291c;
$gl-color-darkred: #DA291C;
$gl-color-blue: #A0DCFF;

$gl-color-orange: #ED8B00;
$gl-color-lightgreen: #0DF200;
$gl-color-accessible-green: $sl-color-green-dark;
$gl-color-yellow-green: #C4D600;
$gl-color-white: #fff;
$gl-color-black: #000;

$sl-color-primary: $sl-color-blue;

// Tile colors
$sl-color-tile-idle: $sl-color-gray--300;
$sl-color-tile-hover: #E8E8EB;

// Type colors
$sl-type-color--Folder: #AEAEAF;
$sl-type-color--Router: #52565a;
$sl-type-color--Skill: #86BC26;
$sl-type-color--Fra: #00a3e0;
$sl-type-color--CustomBot: #40AAA9;

// Status colors
$sl-status-color: $sl-color-black;
$sl-status-color--Draft: $sl-color-orange;
$sl-status-color--Trained: $sl-color-green;
$sl-status-color--Uxt: $sl-color-blue;
$sl-status-color--Rc: #44C1A4;
$sl-status-color--Released: #1E9F00;
$sl-status-color--MarkedForDeletion: #FF5050;

// Release status colors
$sl-status-color--Pending: $sl-color-orange;
$sl-status-color--Approved: #78AF00;
$sl-status-color--Rejected: #C9C9C9;

// Train Process statuses
$sl-status-color--InProcess: $sl-color-white;
$sl-status-color--Success: #43b02a;
$sl-status-color--UpToDate: $sl-color-gray--500;
$sl-status-color--Failed: $sl-color-red;

// Audit reports
$sl-chatbot--Proactive: #00ABAB;

// Border colors
$sl-border-color--gray: $sl-color-gray--200;
$sl-border-color--gray-light: #f0f0f0;
$gl-border-color--green: $gl-color-green;
$gl-border-color--gray: $gl-color-grey--400;
$gl-border-color--gray-dark: $gl-color-grey--600;
$gl-divider: $gl-color-grey--450;
$gl-border-color-field: $gl-color-grey--450;
$gl-border-color-error: $gl-color-red;
$gl-border-color-black: $sl-color-black;
$gl-border-color-white: $sl-color-white;
$gl-border-color--access-green: $gl-color-accessible-green;

// Border radius:
$gl-border-radius-sm: 4px;
$gl-border-radius-md: 6px;
$gl-border-radius-lg: 8px;

// Box-shadow
$sl-box-shadow--dropdown: 0 6px 10px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.08);

// Transitions
$sl-transition-primary: 0.2s ease-in-out;

// Fonts
$sl-font-icons-deloitte: 'deloitte-special_font-v2';
$sl-font-family: 'Open Sans', sans-serif;

// Sizes
$sl-field-height: 32px;
$sl-header-height: 50px;
$sl-infiniteScroll-height: calc(100vh - 205px - #{$sl-header-height});

// Highlight
$sl-text-highlight-blue-color: #009cd8;

// Dropdown
$sl-dropdown-item-active-color: $sl-color-gray--200;
$sl-dropdown-item-hover-color: #f9f9f9;

// Tooltip
$sl-tooltip-bg: #53565a;

//Backgrounds
$gl-bg-dark: $sl-color-black;
$gl-bg-light: $sl-color-white;
$gl-bg-dark-grey: $gl-color-black--light;
$gl-bg-grey: $gl-color-grey--350;
$gl-bg-light-grey: $gl-color-grey--200;
$gl-bg-green: $gl-color-green;
$gl-bg-grey--hover: $gl-color-grey--300;
$gl-bg-empty: $gl-color-grey--250;
$gl-bg-accessible-green: $sl-color-green-dark;
$gl-bg-gradient: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='266' height='63' viewBox='0 0 266 63' fill='none'%3E%3Cg opacity='0.24' filter='url(%23filter0_f_7520_2435)'%3E%3Cpath d='M-0.5 55.3234C11.441 53.8467 29.1136 58.7688 38.6664 55.3234C48.2191 51.8779 75.9222 55.3234 81.6538 55.3234C87.3855 55.3234 110.79 71.5654 119.865 56.7991C128.94 42.0329 160.942 48.9255 157.598 55.3234C154.255 61.7212 175.271 59.2608 187.212 55.3234C199.153 51.3859 207.65 59.4343 230.677 56.7991C243.573 55.3234 266.5 55.3234 266.5 55.3234' stroke='url(%23paint0_linear_7520_2435)' stroke-width='39'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_7520_2435' x='-30.8936' y='0.5' width='325.395' height='109.999' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='14' result='effect1_foregroundBlur_7520_2435'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_7520_2435' x1='-0.5' y1='55.5' x2='250.905' y2='55.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2326890D'/%3E%3Cstop offset='0.24' stop-color='%233BF3C7'/%3E%3Cstop offset='0.49' stop-color='%23F8DE56'/%3E%3Cstop offset='0.74' stop-color='%2303A4FF'/%3E%3Cstop offset='1' stop-color='%236BD351'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
$gl-bg-highlight: $gl-color-lightgreen;

//Connection status color
$gl-status-color--Connected: $gl-color-green;
$gl-status-color--Disconnected: $gl-color-red;

//Text colors
$gl-text-black: $sl-color-black;
$gl-text-white: $sl-color-white;
$gl-text-green: $gl-color-green;
$gl-text-grey: $gl-color-grey--400;
$gl-text-dark-grey: $sl-color-gray--600;
$gl-placeholder-color: $gl-color-grey--550;
$gl-text-red: $sl-color-dark-red;


//Button colors
$gl-btn-color-dark: $sl-color-black;
$gl-btn-color-green: $gl-color-green;
$gl-btn-color-danger: $sl-color-dark-red;
$gl-btn-color-grey: $gl-color-grey--600;
$gl-btn-color-white: $sl-color-white;

//z-index hierarchy
//Use these variables for appropriate items that already exist according to the requirements
//If you need to place a new component between existing layers, create a new variable within the range between others (that’s why the gap between variables is 10).
//The selection frame and highlight SVG should be below the other layers.

//for popup, step, survey, etc(highest layer)
$gl-z-index-level-50: 100050;

//for enabled spotlight
$gl-z-index-spotlight: 100040;

//for menu, etc
$gl-z-index-level-30: 100030;

//for ai-helper, smart-nudge, etc
$gl-z-index-level-20: 100020;

//hover state
$gl-z-index-level-21: 100021;

//for button, etc
$gl-z-index-level-10: 100010;

//for highlight
$gl-z-index-highlight: 100001;

//for selection-frame
$gl-z-index-selection-frame: 100000;

//for environments
$gl-env-production: #00A3E0;
$gl-env-stage: #FFCD00;
$gl-env-dev: #00ABAB;

$gl-editor-header-height: 55px;

$gl-selection-input-bg: #d6d6d6;
$gl-selection-input-border: #525252;
