.input-copy-container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;

    .o-field__input {
        padding-right: 48px;
        position: relative;
    }

    &__copy-icon {
        border-radius: 0 4px 4px 0;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;

        &:hover {
            opacity: 0.7;
        }
    }
}
