//:host {
//    width: 100%;
//}

.c-flexContainer {
    &,
    &__column {
        display: flex;
        align-items: center;
    }

    &--space-between {
        justify-content: space-between;
    }

    &__column {
        column-gap: 12px;

        &--sm {
            column-gap: 8px;
        }

        &--lg {
            column-gap: 16px;
        }

        &--right {
            margin-left: auto;
            justify-content: flex-end;
        }

        &--rightOnly {
            margin-right: unset;
            flex-grow: 1;
        }
    }
}

.o-spacer {
    flex-grow: 5;
}
