.c-visualMenu {
    &Host {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity 0.2s ease;

        &.initialization {
            opacity: 0;
        }
    }

    &Root {
        display: block;
        position: absolute;
        z-index: 2;
        width: 227px;
        height: 0;
        margin-left: -50px;
    }

    &Wrap {
        background-color: $sl-color-white;
        border: 1px solid $sl-color-gray--400;
        overflow: hidden;
        border-radius: 6px;
        position: absolute;
        left: 0;
        right: 0;
        max-height: 400px;
        padding: 8px 0;
    }

    &Tail {
        position: absolute;
        z-index: 3;
        width: 0;
        height: 0;

        span {
            display: block;
            position: absolute;
            top: 0;
            left: 1px;
            width: 13px;
            height: 13px;
            background-color: white;
            transform-origin: right;
            transform: rotate(-45deg) translate(-50%, -50%);
        }
    }

    &Backdrop {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.1;
    }

    &__content {
        @extend %extend-scrollbar;

        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 0
    }

    &__search {
        margin: 0 8px 16px;
        position: relative;

        &Input {
            border-radius: 4px;
            padding-left: 36px;
        }

        &Icon {
            left: 8px;
            position: absolute;
            top: 5px;
            width: 24px;
            height: 24px;
            display: block;
            font-size: 24px;
            opacity: 0.4;
        }

        &--scrollable {
            margin-right: 14px;
        }
    }

    &__group {
        &--last {
            margin-bottom: -16px;
        }

        &Title {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 16px;
        }
    }

    &__tile {
        display: block;
        cursor: pointer;
        user-select: none;
        font-weight: 400;
        padding: 0 12px;

        &:hover {
            background-color: #EBEBEB;
        }

        &--disabled {
            background-color: #f0f0f0;
            border-color: #F0F0F0;
            cursor: not-allowed;
        }

        &--draggable {
            cursor: move;
        }

        &.drag-active {
            position: fixed;
            z-index: 1000;
            width: 180px;
            background-color: #FFFFFF;
            margin: 0;
            border: none;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

            .vd-body-grab-cursor & {
                cursor: grabbing;
            }
        }

        &Container {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 40px;

            .o-icon {
                padding-left: 4px;
                padding-right: 4px;
                font-weight: 600;
                min-width: 24px;
                text-align: center;
            }
        }

        &Icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 24px;
            height: 24px;

            &Svg {
                display: block;
                width: 12px;
                height: 12px;

                &--small {
                    width: 9px;
                    height: 9px;
                }
            }
        }

        Title {
            flex-grow: 1;
        }

        &GridLayout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &GridItem {
            width: calc((100% / 2) - (16px / 2));
        }
    }

    &__emptyState {
        &Image {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 32px 0;

            img {
                display: block;
                height: 100%;
            }
        }
    }
}

.connection-icon-block {
    position: absolute;
    bottom: -.1em;
    left: -2.5em;

    &__line {
        stroke: $sl-type-color--Fra !important;
        position: absolute;
        bottom: 0.4em;
        height: 0.6em;
        left: 1.4em;
        width: 0.4em;
        transform: rotate(90deg);
        right: 0;
    }

    &__icon {
        font-size: 12px;
        &::before {
            color: $sl-type-color--Fra !important;
        }
    }
}

.title-icon-with-connection {
    border: solid 2px $sl-type-color--Fra !important;
}

.attach-to-icon-block {
    position: absolute;
    bottom: -.3em;
    right: -2.5em;

    &--left {
        bottom: -.3em;
        left: -2.6em;
        right: auto;

        .attach-to-icon-block__line {
            bottom: 0.6em;
            left: 1.5em;
            stroke: $sl-color-orange !important;
        }
    }

    &__line {
        stroke: $sl-type-color--Fra !important;
        position: absolute;
        bottom: 0.6em;
        height: 0.6em;
        left: -.5em;
        width: 0.4em;
        transform: rotate(90deg);
        right: 0;
    }

    &__icon {
        font-size: 14px;
    }
}
