.c-visualFormValues {
    padding-top: 24px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid $sl-color-gray--200;

        &--add {
            padding: 16px 0;
            border-top: 1px solid $sl-color-gray--200;
        }

        &--form {
            flex-direction: column;
            align-items: initial;

            .c-visualFormValues__actions {
                display: flex;
                justify-content: flex-end;
            }
        }

        &--checkbox {
            margin-top: 12px;
            padding: 0;
            border-bottom: none;
        }

        &--borderBottom-none {
            border-bottom: none;
        }
    }

    &__add {
        color: $sl-color-primary;
        font-size: 13px;
        border-bottom: 1px dashed;
        transition: $sl-transition-primary;
        border-bottom: 1px dashed transparent;

        &:hover {
            border-bottom-color: currentColor;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__name {
        @extend %extend-text-ellipsis;
    }

    &__value {
        color: $sl-color-gray--500;
    }

    &__actions {
        white-space: nowrap;
    }
}
