.c-visualSearchSteps {

    $border-color: #dfdfdf;

    &__input {
        &Host {
            &.dragActive {
                opacity: 0.35;
            }
        }

        &Wrap {
            position: absolute;
            z-index: 6;
            top: 16px;
            left: 24px;
        }

        &Container {
            width: 280px;
            height: 32px;
            display: flex;
            align-items: center;
            border: 1px solid $border-color;
            background-color: #fdfdfd;
            padding-left: 36px;
            padding-right: 10px;
            border-radius: 2px;
            position: relative;
        }

        &Element {
            width: 100%;
            border: none;
            background-color: transparent;
        }

        &Icon {
            position: absolute;
            top: 4px;
            left: 9px;
            width: 24px;
            height: 24px;
            display: block;
        }
    }

    &__resultContainer {
        &Wrap {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
            padding: 8px 0;
            border: 1px solid $border-color;
            border-radius: 2px;
            overflow: auto;
            max-height: 60vh;

            @extend %extend-scrollbar;

            &Host {
                position: relative;
                width: 100%;
                height: 0;
                margin-top: 2px;
            }
        }

        &Backdrop {
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            opacity: 0.1;
        }
    }

    &__resultItem {
        height: 32px;
        display: flex;
        align-items: center;
        padding: 0 12px;

        &:hover {
            cursor: pointer;
            background-color: #f8f8f8;
        }

        &Icon {
            display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            margin-right: 4px;
        }

        &Title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__emptyState {
        padding: 12px;

        &Title {
            margin-bottom: 24px;
        }

        &Image {
            img {
                display: block;
                max-height: 160px;
                margin: 0 auto;
            }
        }
    }
}
