.c-redirectConfig {
    margin-top: 12px;

    &__selector.o-field {
        margin-top: 24px;
    }

    &__preview {
        margin-top: 12px;
    }

    &__notes.o-field {
        margin-top: 28px;
    }

    &__identicalUrl.o-field {
        margin-top: 28px;
    }

    &__newTabUrl.o-field {
        margin-top: 16px;
    }
}
