@mixin select-item($radius-placement, $triangle-bd-transparent, $triangle-bd-color, $placement-y, $placement-x, $placement-y-value, $placement-x-value) {
    border-#{$radius-placement}-radius: 0;

    &:before {
        content: "";
        position: absolute;
        border-#{$triangle-bd-transparent}: 4px solid transparent;
        border-#{$triangle-bd-color}: 4px solid black;
        #{$placement-y}: #{$placement-y-value};
        #{$placement-x}: #{$placement-x-value};
    }
}

.c-stepConfig {
    &__selector.o-field {
        margin-top: 24px;
    }

    &__preview {
        margin-top: 12px;
    }

    &__notes.o-field {
        margin-top: 28px;
    }

    &__duration.o-field {
        margin-top: 18px;
        padding-top: 18px;
        box-shadow: 0 1px 0 0 $sl-color-gray--400 inset;
    }

    &__resetStorage.o-field {
        margin-top: 24px;

        & .o-button {
            font-size: 12px;
            line-height: 16px;
            padding: 3px 8px 5px 8px;
        }
    }

    .switch__toggle {
        &::after {
            background: $sl-color-wight;
        }
    }

    &-position {
        display: flex;
        gap: 24px;

        &__select {
            width: 140px;
            height: 140px;
            background-color: $gl-color-grey--200;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-ai-helper &,
        .c-smart-nudge & {
            margin: 0 0 9px;
        }

        &-units {
            background-color: $gl-color-grey--600;
            color: #fff;
            padding: 7px 12px 9px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__triggers {
        box-shadow: 0 1px 0 0 $sl-color-gray--400 inset;

        &-title {
            flex: 1;
            font-weight: 600;
        }

        &-icon-button {
            .o-button--primary {
                width: 26px;
                background: transparent;
                color: $sl-color-black;

                &:hover {
                    cursor: pointer;
                    background: $sl-color-gray--200;
                }

                .o-icon {
                    font-size: 14px;
                }
            }

            &_delete {
                .o-button--primary {
                    color: $sl-color-dark-red;
                }
            }
        }

        &-button {
            flex-direction: column;

            .o-button--secondary.o-button--dark {
                background-color: $sl-color-white;
                border-color: $sl-color-white;
            }
        }

        &-wrapper {
            display: grid;
            grid-template-columns: auto auto;
            gap: 12px;
            padding: 12px;
            background: $sl-color-gray--200;
            border-radius: 4px;
        }

        &-list {
            &-head {
                display: flex;
                align-items: center;
                padding: 20px 12px 0 0;
            }

            &-body {

            }

            &-item {
                display: flex;
                align-items: center;
                padding: 12px 12px 0 12px;
                cursor: pointer;

                &-name {
                    flex: 1;
                    line-height: 24px;
                }
            }
        }

        &-ruleset {
            width: 100%;
            position: absolute;
            top: $gl-editor-header-height;
            left: 0;
            z-index: 999;

            .c-page__footer {
                background: $gl-color-white;
            }
        }
    }

    &-select {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 7px;
        column-gap: 10px;
        row-gap: 8px;
        width: 140px;
        height: 140px;

        &__block {
            grid-column: 2 / span 2;
            grid-row: 2 / span 2;
            width: 56px;
            height: 56px;
            border-radius: 2px;
            border-bottom: 2px solid #000;
            background-color: #fff;
            box-shadow: 0 0 2px 1px #0000001A;
        }

        &__item {
            width: 22px;
            height: 22px;
            border-radius: 1px;
            outline: 1px solid #000;
            border: 1px solid #fff;
            background-color: rgba($gl-color-lightgreen, .2);
            cursor: pointer;
            position: relative;

            &--selected {
                background-color: #000;
                border-color: $gl-color-green;
            }

            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
            }

            &--topLeft {
                @include select-item("bottom-left", "left", "top", "bottom", "left", "-6px", "-2px");
            }

            &--topRight {
                @include select-item("bottom-right", "right", "top", "bottom", "right", "-6px", "-2px");
            }

            &--bottomLeft {
                @include select-item("top-left", "left", "bottom", "top", "left", "-6px", "-2px");
            }

            &--bottomRight {
                @include select-item("top-right", "right", "bottom", "top", "right", "-6px", "-2px");
            }

            &--leftTop {
                @include select-item("top-right", "top", "left", "top", "right", "-2px", "-6px");
            }

            &--leftBottom {
                @include select-item("bottom-right", "bottom", "left", "bottom", "right", "-2px", "-6px");
            }

            &--rightTop {
                @include select-item("top-left", "top", "right", "top", "left", "-2px", "-6px");
            }

            &--rightBottom {
                @include select-item("bottom-left", "bottom", "right", "bottom", "left", "-2px", "-6px");
            }
        }
    }

    &__event {
        .o-field {
            &__input {
                background-color: #f5f5f5;
                border-color: #f5f5f5;
            }

        }
    }

    &__rte-section {
        &.configuration-overlay__editor-area {
            .tox-tinymce {
                border: none;
            }
        }
    }


    &__wait-for-input {
        .c-vdFlow__nodeTile__input {
            width: 120px;

            .o-field__input {
                padding-top: 5px;
                padding-bottom: 7px;
            }

            .o-field__unit-end {
                bottom: 8px;
            }
        }
    }
}
