.o-date-range-picker {
    display: flex;
    gap: 4px;

    input {
        border: none;
        outline: none;
        width: 100%;
    }

    &__actions {
        display: flex;
        gap: 4px;
        align-items: center;
        margin-left: auto;

        span {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.bs-datepicker {
    box-shadow: none !important;

    .bs-datepicker-container {
        padding: 0 !important;
        border: solid 1px $gl-border-color-field !important;
        border-radius: 4px !important;

        .bs-datepicker-head {
            background-color: transparent !important;

            button {
                color: $gl-color-black !important;
            }
        }
    }

    .bs-datepicker-body {
        table {
            th {
                &[aria-label=weekday] {
                    color: $gl-color-black !important;
                }
            }

            td {
                &:before {
                    left: 0 !important;
                    right: 0 !important;
                }

                span {
                    border-radius: unset !important;

                    &:not(.is-other-month) {
                        color: $gl-color-black !important;
                    }

                    &.selected,
                    &[class*=select-] {
                        margin: 0 !important;
                        width: 100% !important;
                        background-color: $gl-color-black !important;
                        color: $gl-color-white !important;
                    }

                    &.in-range {
                        color: $gl-color-white !important;

                        &:before {
                            top: 0 !important;
                            bottom: 0 !important;
                            background-color: $gl-color-black !important;
                        }
                    }

                    &:before {
                        left: 0 !important;
                        right: 0 !important;
                    }

                    &:hover {
                        &.in-range {
                            background-color: $gl-color-black !important;
                            color: $gl-color-white !important;
                        }
                    }
                }
            }
        }
    }
}
