.gl-ruleset {
    padding: 24px 40px;
    min-height: 100%;

    &-item {
        position: relative;
        padding: 16px 24px 25px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid $sl-color-gray--400;
        margin-bottom: 28px;

        &-inner {
            display: flex;
            gap: 16px;
            width: 100%;
            align-items: end;

            .gl-ruleset-item--two-lines & {
                flex-wrap: wrap;
            }
        }

        &-inputs {
            display: flex;
            flex: 1;
        }

        &-input {
            position: relative;

            .o-field__info {
                position: absolute;
                bottom: calc(-100% - 3px);
                transform: translateY(-100%);
            }


            &--multi {
                flex: 1;
            }

            &--single {
                width: 180px;

                .gl-ruleset-item--two-lines & {
                    width: calc(100% - 196px);

                    .c-ruleset-multi-input-item {
                        display: block;
                        max-width: calc(100% - 36px);
                    }

                    .ruleset-multi-input-itemItem {
                        max-width: calc(100% - 24px);
                    }

                    .ruleset-multi-input-itemItemValue {
                        max-width: 100%;
                    }
                }
            }

            &--mr0 {
                margin-right: 0;
            }
        }

        &--main {
            &:first-child {
                &:after {
                    content: "";
                    position: absolute;
                    left: -4px;
                    top: 32px;
                    width: 1px;
                    height: 100%;
                    background-color: $gl-color-grey--600;
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: -4px;
            top: 32px;
            width: 4px;
            height: 1px;
            background-color: $gl-color-grey--600;
        }

        &-wrapper {
            display: block;
            min-height: 208px;
            position: relative;
            padding-bottom: 50px;

            &:before {
                content: '';
                position: absolute;
                left: -4px;
                top: 32px;
                bottom: -32px;
                height: calc(100% + 56px);
                width: 1px;
                background-color: $gl-color-grey--600;
            }

            &:first-child {
                &:not(&.gl-ruleset-item-wrapper--first-of-n) {
                    &:before {
                        height: 46px;
                    }
                }
            }

            &:last-child {
                &:before {
                    height: 46px;
                }

                .gl-ruleset-addbtn {
                    &--rule,
                    &--child {
                        &:after {
                            content: 'Add Rule';
                        }
                    }
                }
            }

            &:not(&:last-child) {
                .gl-ruleset-addbtn--rule {
                    bottom: -29px;
                }
            }

            &--child {
                margin-left: 109px;
                padding: 4px 0 0 106px;
                min-height: auto;

                &:before {
                    left: 0;
                    top: 0;
                    background-color: $gl-color-grey--150;
                }

                &:first-child {
                    &:not(&.gl-ruleset-item-wrapper--first-of-n) {
                        &:before {
                            height: calc(100% + 20px);
                        }
                    }
                }

                &:last-child {
                    &:before {
                        height: calc(100% + 20px);
                    }
                }

                &:not(&:last-child) {
                    .gl-ruleset-addbtn--rule {
                        bottom: -29px;
                    }

                    .gl-ruleset-addbtn {
                        &--rule,
                        &--child {
                            &:after {
                                content: '';
                            }
                        }
                    }
                }

                .gl-ruleset-addbtn {
                    &--rule,
                    &--child {
                        &:after {
                            content: '';
                        }
                    }

                    &--rule {
                        left: -118px;
                    }
                }

                .gl-ruleset-item:before {
                    left: -106px;
                    width: 106px;
                    background-color: $gl-color-grey--150;
                }
            }
        }

        &-controls {
            display: flex;
        }

        &-dropdown {
            display: block;
            max-width: 180px;
            min-width: 180px;
            flex-basis: 180px;

            &__single-option {
                pointer-events: none;

                .o-field--drop-down-toggle {
                    &:before {
                        content: none;
                    }
                }
            }
        }

         &-container {
            &--width{
                width: inherit;
            }

            .gl-ruleset-item-input {
                &:not(.gl-ruleset-item-input--overflow) {
                    .o-field__info {
                        bottom: calc(-100% + 22px);
                    }
                }
            }
        }
    }

    &-addbtn {
        position: absolute;
        z-index: 1;

        button {
            background-color: $gl-color-grey--200;
        }

        &:after {
            line-height: 24px;
            color: $gl-color-grey--600;
            position: absolute;
            left: 100%;
            top: 0;
            margin-left: 8px;
            white-space: nowrap;
        }

        &--main {
            position: relative;

            &:after {
                content: 'Add Rule';
            }
        }

        &--rule {
            bottom: -37px;
            left: -16px;
        }

        &--child {
            display: none; //temp hide child button

            bottom: -29px;
            left: 96px;

            &:before {
                content: "";
                width: 1px;
                height: 5px;
                position: absolute;
                left: 13px;
                top: -5px;
                background-color: $gl-color-grey--150;
            }
        }
    }

    &__template-wait-time,
    &__template-name {
        display: flex;
        background-color: $gl-color-white;
        padding: 16px 24px;
        border-bottom: 1px solid $gl-color-grey--450;

        input {
            width: 366px;
            height: 32px;
            background-color: $gl-color-white;
            border: solid 1px $gl-color-grey--450;
            font-size: 14px;
            line-height: 20px;
            color: $gl-color-black;
            padding: 5px 12px 7px;
            border-radius: 4px;
        }

        &-toggle {
            margin-top: 6px;
            margin-left: 16px;
        }
    }

    &__template-frequency {
        display: flex;
        align-items: start;
        gap: 24px;
        background-color: $gl-color-white;
        padding: 16px 24px;
        border-bottom: 1px solid $gl-color-grey--450;
        margin-bottom: 12px;
        border-radius: 4px;

        &__dd {
            width: 366px;
        }

        &__dp {
            width: 270px;
        }
    }

    &__template-wait-time {
        padding: 12px 24px;
        margin-bottom: 8px;
        border-bottom: none;
        border-radius: $gl-border-radius-sm;

        &-input {
            position: relative;
            width: 172px;

            .o-field {
                &.c-vdFlow__nodeTile__input {
                    width: 100%;
                }

                input {
                    width: 100%;
                    padding: 2px 64px 2px 12px;
                }

                &__unit-end {
                    top: 5px;
                    right: 38px;
                    font-size: 14px;
                    line-height: 20px;
                    color: $gl-color-grey--550;
                }
            }

            .o-icon {
                position: absolute;
                top: 6px;
                right: 8px;
                font-size: 20px;
            }
        }
    }
}

