.gl-ruleset-logical {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 2;
    width: 78px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 5px 8px 7px 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    gap: 8px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

    &-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20px;

        .o-icon {
            font-size: 12px;
        }
    }

    &:before {
        content: '';
        width: 14px;
        height: 1px;
        position: absolute;
        right: 100%;
        top: 50%;
        background-color: $gl-color-grey--600;
    }

    .gl-ruleset-item-wrapper--child & {
        left: 4px;
        top: 20px;

        &:before {
            content: none;
        }
    }
}

