@font-face {
    font-family: Open Sans;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url(OpenSans-Regular.woff2) format("woff2"), url(OpenSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url(OpenSans-Italic.woff2) format("woff2"), url(OpenSans-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(OpenSans-SemiBold.woff2) format("woff2"), url(OpenSans-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url(OpenSans-SemiBoldItalic.woff2) format("woff2"), url(OpenSans-SemiBoldItalic.woff) format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(OpenSans-Bold.woff2) format("woff2"), url(OpenSans-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(OpenSans-BoldItalic.woff2) format("woff2"), url(OpenSans-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}
/* Accessibility dyslexia */
@font-face {
    font-family: 'Lexend';
    src: url(./lexend/Lexend-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 1 999;
}