gl-admin-system-flows-list,
gl-selectable-system-flow-list,
.c-adminSystemFlowsList {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.c-adminSystemFlowsList {
    .o-dropdown__button {
        &.disabled {
            pointer-events: none;
        }
    }

    &:has(.o-dropdown.show) {
        .o-dropdown-overlay {
            position: fixed;
        }

        .c-pageToolsBar {
            z-index: 1000;
        }
    }

    &:has(.c-templates-dropdown.show) {
        .o-dropdown__button {
            opacity: .4;
            pointer-events: none;
        }
    }

    &:has(.c-pageToolsBar__inner.show) {
        .c-templates-dropdown {
            opacity: .4;
            pointer-events: none;
        }
    }

    &__inner {
        &,
        & > .c-container {
            display: flex;
            flex: 1;
            height: 100%;
        }

        & > .c-container {
            flex-direction: column;
        }
    }

    &__emptyState {
        display: block;
        padding: 14px 0 24px;
        flex: 1
    }

    &__header {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 10px 0;

        & > span {
            color: $gl-color-grey--600;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
        }
    }

    &__item {
        cursor: pointer;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & i[class~='o-icon'] {
            color: $gl-color-grey--600;
        }

        &__name {
            margin: 0 12px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            text-decoration: inherit;
            color: inherit;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            width: 100%;
            height: 20px;
            word-break: break-all;

            &:hover {
                color: inherit;
                text-decoration: none;
            }

            .mark {
                background-color: $gl-color-lightgreen;
            }
        }

        &__actions {
            margin-left: auto;
            display: inline-flex;
        }

        &--checked {
            background-color: $gl-color-grey--350;
        }
    }
}

.flows-list {
    position: relative;
    width: calc(100% + 48px);
    height: calc(100vh - var(--other-offsets));
    margin-left: -24px;
    padding: 0;
    overflow: auto;

    &--loading {
        user-select: none;
        pointer-events: none;
        visibility: hidden;

        &::after {
            width: 94px;
            content: 'Loading...';
            display: block;
            position: sticky;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            padding: 6px 12px;
            border-radius: 15px;
            background-color: $gl-color-grey--300;
            box-shadow: 0 0 14px 0 rgba($gl-color-black--light, .1);
            text-align: center;
        }
    }

    .cdk-virtual-scroll-content-wrapper {
        max-width: 100%;
    }
}
