.menu-position {
    width: 130px;
    max-width: 130px;
    position: relative;

    &__input {
        text-align: center;
        padding-left: 25px;
        padding-right: 30px;
    }

    &__prefix, &__suffix {
        position: absolute;
        line-height: 20px;
        font-size: 14px;
        color: $gl-color-grey--550;
        top: 50%;
        transform: translateY(-50%);
    }

    &__prefix {
        left: 12px;
        text-transform: uppercase;
    }

    &__suffix {
        right: 12px;
    }

    &__label {
        line-height: 16px;
        font-size: 12px;
        color: $sl-color-gray--600;
        margin-bottom: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.o-field {
    .menu-position {
        &:first-of-type {
            margin-bottom: 12px;
        }
    }
}

.menu-tabs-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $sl-color-gray--400;
    padding: 0 24px;
    gap: 12px;
    min-height: 42px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &__item {
        font-size: 14px;
        color: $sl-color-black;
        line-height: 20px;
        padding: 9px 16px 10px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        user-select: none;
        display: flex;
        gap: 8px;
        align-items: center;
        white-space: nowrap;

        &--active {
            border-bottom: 2px solid $sl-color-black;
        }

        &--disabled {
            pointer-events: none;
            opacity: .6;
        }
    }

    &__icon {
        &--error {
            color: $gl-text-red;
        }
    }
}

.menu-tabs-content {
    height: 100%;
    display: flex;

    &--form, &--content {
        width: 100%;
        padding: 16px 24px;
        max-height: calc(100vh - (168px + var(--header-height)));
        min-height: calc(100vh - (168px + var(--header-height)));
        overflow-y: auto;

        &_relative-full-size {
            position: relative;
            padding: 0;
        }

        &.tab-menu {
            .position-wrapper {
                display: flex;

                .menu-position {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--content {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='96px' height='96px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd'%3E%3Cg%3E%3Cpath style='opacity:0.16' fill='%23000000' d='M 44.5,43.5 C 51.1584,42.3445 53.1584,44.8445 50.5,51C 43.7496,52.4689 41.7496,49.9689 44.5,43.5 Z'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: repeat;
        background-size: 18px;
        background-color: #F6F6F6;
    }

    &--disabled {
        opacity: .6;
        pointer-events: none;
        user-select: none;
    }

    &__menu-tab-distance {
        background: red;

        .c-distanceOptions {
            display: flex !important;
            align-items: center;

            .o-field {
                width: 106px;
                margin: 0 16px 0 0;
            }
        }
    }
}
