$toastr-content-padding: 14px 20px;

.toastrs-container {
    position: fixed;
    bottom: 70px;
    left: 50%;
    z-index: 20000;

    &--end-user {
        .alert {
            width: auto !important;
            min-width: 400px;
        }

        .toastr-content {
            &__message,
            &__close-icon {
                padding: $toastr-content-padding;
            }
        }
    }

    .alert {
        display: inline-block;
        border: none;
        width: calc(100vw - 48px);
        max-width: 568px;
        text-align: left;
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 20px;
        word-wrap: break-word;
        word-break: break-word;
        color: $sl-color-black;

        .close {
            display: none;
        }
    }

    .alert-success {
        background-color: $gl-bg-green;
        color: $gl-text-black;
    }

    .alert-error {
        background-color: $sl-color-dark-red;
    }

    .alert-info {
        background-color: $sl-color-blue;
    }

    .alert-warning {
        background-color: $gl-color-orange;
    }

    .dds-gl-icon_close:before {
        line-height: 20px;
    }

    .toastr-content {
        display: flex;
        justify-content: space-between;
    }
}
