.c-adminSystem {
    .c-pageHead {
        padding: 0 0 4px;
    }
}

.gl-flow-selection-view {
    .c-adminSystem {
        position: absolute;
        width: 386px;

        &__selection-config {
            position: absolute;
            left: 386px;
            top: 0;
        }
    }
    gl-header {
        position: absolute;
        width: 400px;
    }
}
