@mixin btnPrimary($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
}

@mixin btnSilent($textColor) {
    color: $textColor;

    &:hover,
    &:active, {
        border-color: $textColor;
    }

    .o-dropdown.open .o-dropdown__button[aria-expanded="true"] &,
    .o-dropdown.open .o-dropdown__button[menu-expanded="true"] &,
    .o-dropdown__button[menu-expanded="true"] & {
        border-color: $textColor;
    }

}

@mixin btnSecondary($textColor) {
    border-color: $textColor;
    color: $textColor;
}

$btn: "o-button";

.#{$btn} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: $gl-text-black;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    transition: background-color .2s ease;

    &,
    &:hover,
    &:active {
        outline: none;
    }

    &--primary {
        &.#{$btn}--green {
            @include btnPrimary($gl-btn-color-green, $gl-text-black);
        }

        &.#{$btn}--dark {
            @include btnPrimary($gl-btn-color-dark, $gl-text-white);
        }

        &.#{$btn}--grey {
            @include btnPrimary($gl-color-grey--600, $gl-text-white);
        }

        &.#{$btn}--danger {
            @include btnPrimary($gl-btn-color-danger, $gl-text-white);
            padding-right: 32px;
        }
    }

    &--silent {
        background-color: transparent;

        &.#{$btn}--dark {
            & {
                @include btnSilent($gl-btn-color-dark);
            }

            &.#{$btn}--inverse {
                @include btnSilent($gl-btn-color-white);
            }
        }

        &.#{$btn}--grey {
            & {
                @include btnSilent($gl-btn-color-grey);
            }

            &.#{$btn}--inverse {
                @include btnSilent($gl-btn-color-white);
            }
        }

        &.#{$btn}--danger {
            & {
                @include btnSilent($gl-btn-color-danger);
            }

            &.#{$btn}--inverse {
                @include btnSilent($gl-btn-color-danger);
            }
        }
    }

    &--switch {
        border-color: $gl-color-grey--450;
        background-color: #fff;
        color: #000;
        padding: 4px;

        &:first-child {
            border-right: 0;
        }

        &:last-child {
            border-left: 0;
        }

        &:not(:last-child):not(:first-child) {
            border-left: 0;
            border-right: 0;
        }

        &.o-button--active {
            background-color: $gl-color-grey--400;
        }
    }

    &--secondary {
        background-color: transparent;

        &.#{$btn}--dark {
            & {
                @include btnSecondary($gl-btn-color-dark);
            }

            &.#{$btn}--inverse {
                @include btnSecondary($gl-btn-color-white);
            }
        }

        &.#{$btn}--grey {
            & {
                @include btnSecondary($gl-btn-color-grey);
            }
        }
    }

    &--icon-action {
        background-color: transparent;

        &:hover {
            background-color: $gl-color-grey--300;
        }
    }

    & > .o-icon {
        font-size: 16px;
    }

    &--sm {
        height: 24px;
        padding: 0 4px;
    }

    &--md {
        height: 32px;
        padding: 0 9px;
    }

    &--lg {
        padding: 8px 16px 10px;
    }

    &--iconOnly {
        padding: 0;

        & > .o-icon {
            font-size: 24px;
        }
    }

    &--align-left {
        justify-content: flex-start;
    }

    &--loading {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(#000, .2);
        z-index: 99;

        &__circle {
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
        }

        &__spinner {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            & > .o-icon {
                &:before {
                    position: absolute;
                    font-size: 40px;
                    animation: spin 1s infinite linear;
                }
            }
        }


        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .6;
    }

    &--active-bg:hover {
        background-color: rgba($gl-btn-color-dark, .12);
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .6;
}
