.c-forceScrollConfiguration {
    margin: 24px;

    .targetUrl.o-field{
        margin-top: 24px;
    }

    .switch.o-field {
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .o-checkbox {
            font-size: 14px;
        }

        .o-checkbox__label:before {
            width: 16px;
            height: 16px;
        }

        .o-checkbox__label:after {
            left: 1px;
            width: 10px;
            height: 5px;
        }

        .o-checkbox__input:checked + .o-checkbox__label:before {
            border-color: $gl-color-black;
            background-color: $gl-color-black;
        }
    }

    .switch:not(:first-child) {
        margin-top: 24px;
    }

    .o-field__info {
        position: absolute;
    }

    .o-field__notes {
        .o-field__inner {
            margin-top: 20px;
        }
    }
}
