$hierarchy-gap: 32px;
$levels: ('Second', 'Third');

.menu-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__plus {
        min-width: 146px;
        padding: 3px 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: solid 1px transparent;
        border-radius: 4px;
        cursor: pointer;

        &:hover, &[aria-expanded="true"] {
            background-color: $gl-color-grey--300;
            border-color: $sl-color-black;
        }

        &--transparent {
            &:hover, &[aria-expanded="true"] {
                background-color: transparent;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 16px;

        &__item-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;

            &:first-child .menu-content__list__item {
                padding-top: 16px;
            }
        }

        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $sl-color-white;
            padding: 12px 8px 12px 18px;
            margin-bottom: 16px;
            border-radius: 4px;
            width: 100%;
            max-width: 100%;

            &__name {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $sl-color-black;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                flex: 1;
                margin: 0 12px;
                min-height: 20px;
            }


            &__plus {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;

                &--first {
                    bottom: 100%;
                }

                &:hover {
                    .menu-content__plus {
                        opacity: 1;
                    }
                }

                .o-dropdown.show {
                    .menu-content__plus {
                        opacity: 1;
                    }
                }

                .menu-content__plus {
                    padding: 0;
                    background-color: #F6F6F6;
                    width: 100%;
                    max-width: 146px;
                    text-align: center;
                    opacity: 0;
                    position: relative;

                    &::before, &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 100px;
                        background-color: $sl-color-black;
                        top: 50%;
                    }

                    &::before {
                        right: 100%;
                    }

                    &::after {
                        left: 100%;
                    }

                    .o-icon {
                        font-size: 14px;
                    }
                }
            }

            &__icons {
                position: relative;
                height: 16px;

                &__visibility {
                    position: absolute;
                    font-size: 10px;
                    top: -4px;
                    right: -4px;
                }
            }

            &__icon {
                padding: 4px;
                visibility: hidden;
                margin-left: 8px;

                .menu-content__list__item.cursor-pointer > & {
                    visibility: visible;
                }
            }

            &__drag-handle {
                cursor: move;
            }

            &.cdk-drag-placeholder {
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $sl-color-gray--400;
                    border-radius: 4px;
                }
            }

            .o-dropdown {
                .o-button {
                    background-color: transparent;
                }
            }

            &--First {
                margin-left: 0;
            }

            @for $i from 1 through length($levels) {
                $name: nth($levels, $i);
                $margin: $hierarchy-gap * $i;

                &--#{$name} {
                    margin-left: $margin;
                    max-width: calc(100% - #{$margin});
                }
            }
        }
    }

}
.menu-content__plus,
gl-button[dropdownToggle] {
    border: 1px solid transparent;
}
