.c-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $gl-editor-header-height);
    min-height: calc(100vh - $gl-editor-header-height);

    &Head {
        padding: 10px 0 18px;
    }

    &ToolsBar {
        padding: 10px 0;

        &__inner {
            padding: 4px;
            min-height: 40px;
            background-color: $gl-bg-dark-grey;
            border-radius: $gl-border-radius-md;
        }
    }

    &__body {
        flex: 1;
    }

    &__footer {
        border-top: 1px solid #D0D0CE;
        padding: 12px 0;

        &--divider {
            border-top: 1px solid $gl-divider;
        }

        &--bottom {
            position: sticky;
            bottom: 0;
        }
    }

}
