@use 'sass:math';

.c-modal {
    & + & {
        &:before {
            content: '';
            height: 100vh;
            background-color: $sl-color-black;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            opacity: 0.3;
        }
    }

    &--pre-init {
        opacity: 0;
    }

    .modal-content {
        border-radius: $gl-border-radius-lg;
        border: none;
        margin: 0 24px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 365px;

        @include mixin-onlyIE {
            min-height: auto;
        }
    ;
    }

    &--prebuilt {
        min-width: 600px;

        .c-modal__inner {
            min-height: 740px;
            height: 0;
        }
    }

    &--actions-edit {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 1070;
        background-color: $sl-color-white;

        .c-businessForm {
            flex-grow: 1;
        }

        .c-designerMatrix {
            height: calc(100vh - 165px);
        }
    }

    &--savePrebuilt, &--popover-confirmation, &--select {
        .c-modal__inner {
            min-height: 0;
            border-top: 8px solid #0097A9;
        }

        .c-modalBody {

            &__inputTitle, &__title {
                font-weight: 500;
                font-size: 13px;
                color: $sl-color-black;
                margin-bottom: 8px;
            }

            .o-dropdown {
                color: $sl-color-black;
            }
        }
    }

    &--lg {
        min-width: 1400px;
    }

    &--diagram {
        max-width: 100%;
        margin: 0;

        .modal-content {
            height: 100vh;
            border: none;
        }

        .c-tree {
            width: 100% !important;
        }
    }

    &--testing {
        min-width: 1242px;
        margin: 16px auto 0;

        .c-modal__inner {
            background-color: $sl-color-white;
        }

        .c-modalBody {
            padding: 0;
        }

        .c-modalHeader {
            border: none;
        }

        iframe {
            max-width: 1242px;
            min-height: 90vh;
            max-height: 90vh;
            padding: 1px;
        }
    }

    &--confirmation,
    &--alert {
        display: flex;
        align-items: center;
        min-height: 100%;
        margin: auto;

        &-sm {
            max-width: 390px;
        }

        &-md {
            max-width: 590px;
        }

        .c-modal__inner {
            min-height: inherit;
        }
    }

    &--extended {
        .c-modalFooter__button {
            margin-left: 0;
        }

        .c-modalFooter {
            justify-content: space-between;
        }
    }

    &--result {
        .c-modalHeader {
            border-bottom-color: #F0F0F0;
            height: 56px;
            min-height: 56px;
        }

        .c-modalFooter {
            height: 56px;
            min-height: 56px;
            border-top-color: #F0F0F0;
        }

        .c-modalBody {
            padding: 16px 24px;
        }

        .c-modal__inner {
            min-height: 340px;
        }
    }

    &--loading {
        .c-modal__inner {
            min-height: inherit;
        }

        .c-modalHeader {
            border: none;

            &__title {
                flex-grow: 1;
                padding: 0 10px;
            }

            &__icon {
                animation: loading 1s linear infinite;
            }

        }

        @keyframes loading {
            100% {
                transform: rotate(360deg);
            }
        }
    }

    &__remove-destination {
        z-index: 3101 !important;
    }

    &--backdrop {
        &__remove-destination {
            z-index: 3100 !important;
        }
    }

    &--delete-template {
        .modal-content {
            max-width: 352px;

            .c-modalConfirm__title {
                font-size: 14px;
                line-height: 20px;
            }

            .c-modalHeader {
                min-height: initial;
            }
        }
    }
}

.c-modalHeader {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 14px 16px 10px 24px;

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    &--group {
        min-height: 85px;
        height: auto;
        align-items: baseline;
        padding: 16px 16px 16px 24px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
    }

    &__icon {
        margin: 4px;
        cursor: pointer;
    }
}

.c-modalBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 9px 24px 8px;

    &--selectPrebuiltCR {
        max-height: 400px;
        height: 400px;
        overflow-y: auto;
    }

    &--groups {
        @extend %extend-scrollbar--transparent;

        padding-top: 0;
        overflow: auto;

        .c-conditionValues {
            &__list {
                padding-bottom: 0;
            }

            &__item {
                padding: 0;
                margin: 0;

                &:hover:not(.c-conditionValues__item--button):not(.c-conditionValues__item--field) {
                    background-color: transparent;
                }

                &--child,
                &--open {
                    background-color: transparent;
                    border: none;
                }

                &--group {
                    border-top: 1px solid transparent;
                    margin: -1px -24px 0;
                    padding: 0 24px;

                    & > .c-conditionValues__content {
                        min-height: 34px;
                        margin: 4px 0;
                        border-radius: 2px;
                    }
                }

                &--active {
                    & > .c-conditionValues__content {
                        background-color: rgba($sl-color-black, 0.05);
                    }
                }

                &--open {
                    &:not(:first-child) {
                        border-top: 1px solid $sl-color-gray--400;
                    }
                }

                &:hover {
                    background-color: transparent;
                }

                &.cdk-drag-placeholder {
                    &:hover {
                        background-color: $sl-color-blue--light !important;
                    }
                }
            }

            &__addValue {
                padding: 0;

                .c-conditionForm__button {
                    @include mixin-onlyIE {
                        margin: 11px 0;
                    }
                ;
                }
            }

            &__content {
                border: none;
                padding: 0 8px 0 8px;

                &--top {
                    padding-right: 0;
                    border-top: 1px solid $sl-color-gray--400;
                }

                &--field {
                    padding-right: 0;
                }
            }

            &__remove {
                right: 32px;
            }

            &__move {
                display: none;
            }
        }

        .c-emptyList {
            height: 100%;
        }
    }

    &__addValue {
        position: sticky;
        top: 0;
        background-color: $sl-color-white;
        margin: 0 -24px;
        z-index: 2;


        .c-conditionValues {
            &__content {
                display: flex;
                justify-content: center;
                border-bottom: 1px solid $sl-color-gray--400;
                padding: 0 24px;
                min-height: 55px;

                .c-conditionForm__button {
                    @include mixin-onlyIE {
                        margin: 18px 0;
                    }
                ;
                }

                &--field {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    &__action {
        line-height: 18px;
        font-weight: 600;
        color: $sl-color-blue;

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}

.c-modalConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 42px;
        border: 1.5px solid currentColor;
        border-radius: 50%;
        color: $sl-color-orange;
    }

    &__errorIcon {
        font-size: 32px;
        border: 1px solid currentColor;
        border-radius: 50%;
        color: $sl-color-orange;
        height: 34px;
        margin-right: 10px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        overflow-wrap: break-word;
    }

    &__more {
        display: inline-block;
        margin-top: 12px;
        color: $sl-color-blue;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__sub-title {
        display: inline-block;
        margin: 12px 0;
        font-weight: 600;
    }

    &__text {
        @extend %extend-break-word;
        white-space: pre-line;
        line-height: 1.4;

        &--bold {
            font-weight: 600;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 8px 0 16px;
        max-height: 58px;
        overflow: auto;

        @extend %extend-scrollbar--transparent;

        &--space-top {
            margin-top: 16px;
        }

        &--dependent-nodes {
            padding: 15px 0 0 64px;

            + .c-modalConfirm__more {
                padding-left: 64px;
            }
        }

        &--content-visible {
            overflow: visible;
        }
    }

    &__item {
        padding-left: 16px;
        position: relative;
        font-size: 13px;
        line-height: 18px;

        &--last-column-item {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 7px;
            display: inline-block;
            border-radius: 50px;
            width: 2px;
            height: 2.5px;
            background-color: $gl-text-black;
        }

        .o-icon {
            margin: 2px 0 0 8px;
            font-size: 16px;
        }

        &Title {
            display: flex;
            align-items: flex-start;
        }

        &Link {
            @extend %extend-break-word;

            display: inline-flex;
            align-items: flex-start;
            color: $sl-color-black;
            transition: all 0.25s;
            font-size: 13px;

            &:hover {
                color: #00B8EC;
                text-decoration: none;
            }
        }

        &Text {
            color: $sl-color-gray--500;
            margin-top: 2px;
        }

        &Icon {
            cursor: pointer;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__controlText {
        margin-bottom: 12px;
        font-weight: 600;
    }
}

.c-modalFooter {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 24px 24px;
    min-height: 64px;
    gap: 16px;

    &__button {
        margin-left: 16px;
    }

    &__count {
        font-size: 13px;
        font-weight: 600;
        margin-right: 16px;
    }
}

.c-modalResult {
    position: relative;
    line-height: 18px;

    &__icon {
        position: absolute;
        top: -1px;
        left: 0;
    }

    &__text {
        margin-bottom: 8px;
    }

    &__list {
        &Item {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            border-bottom: 1px solid #F0F0F0;

            &:last-child {
                border-bottom: none;
            }

            strong {
                font-weight: 600;
            }
        }
    }
}

.c-modalArrow {
    position: relative;
    height: 100%;
    width: 100%;

    $square-size: 16px;

    $size: math.div($square-size, 2);
    $ar_color: white;

    $ar_edge_shift: 6px; // Align with anchor element in cdk by adjusting offset

    @mixin arrowBase() {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-width: $size;
        border-style: solid;
        border-color: transparent;
    }

    &:after {
        content: '';
        @include arrowBase();
    }

    &.arrow {

        // Pointing Left

        @mixin arrowPointingLeft() {
            border-left-width: 0;
            border-right-color: $ar_color;
            left: -$size;
        }

        &--left-center {
            &:after {
                @include arrowPointingLeft();
                top: calc(50% - $size);
            }
        }

        // Pointing Top

        @mixin arrowPointingTop() {
            border-top-width: 0;
            border-bottom-color: $ar_color;
            top: -$size;
        }

        &--top-left {
            &:after {
                @include arrowPointingTop();
                left: $ar_edge_shift;
            }
        }

        &--top-center {
            &:after {
                @include arrowPointingTop();
                left: calc(50% - $size);
            }
        }

        &--top-right {
            &:after {
                @include arrowPointingTop();
                right: $ar_edge_shift;
            }
        }

        // Pointing Right

        @mixin arrowPointingRight() {
            border-right-width: 0;
            border-left-color: $ar_color;
            right: -$size;
        }

        &--right-top {
            &:after {
                @include arrowPointingRight();
                top: $ar_edge_shift;
            }
        }

        &--right-center {
            &:after {
                @include arrowPointingRight();
                top: calc(50% - $size);
            }
        }

        &--right-bottom {
            &:after {
                @include arrowPointingRight();
                bottom: $ar_edge_shift;
            }
        }

        // Pointing Bottom

        @mixin arrowPointingBottom() {
            border-bottom-width: 0;
            border-top-color: $ar_color;
            bottom: -$size;
        }

        &--bottom-left {
            &:after {
                @include arrowPointingBottom();
                left: $ar_edge_shift;
            }
        }

        &--bottom-center {
            &:after {
                @include arrowPointingBottom();
                left: calc(50% - $size);
            }
        }

        &--bottom-right {
            &:after {
                @include arrowPointingBottom();
                right: $ar_edge_shift;
            }
        }
    }
}
