.item-placement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

    &__item {
        height: 64px;
        background-color: rgba($gl-color-lightgreen, .2);
        box-shadow: inset 0 0 0 2px $sl-color-wight, 0 0 0 2px $sl-color-black;
        border-radius: 4px;
        cursor: pointer;

        &--selected {
            background-color: $sl-color-black;
            box-shadow: inset 0 0 0 2px $gl-color-green, 0 0 0 2px $sl-color-black;
        }
    }
}

.pop-up {
    &-section {
        &__title {
            display: inline-block;
            padding: 13px 12px 15px;
            color: #fff;
            background-color: #000;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            margin-right: 12px;
        }

        &__inner {
            border: 1px solid $gl-color-grey--450;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 16px;
        }

        &-content {
            padding: 9px 12px 16px 16px;
            background-color: #fff;
            border-radius: 4px;

            &--body {
                padding: 9px 8px 11px 16px;
                min-height: 144px;
                cursor: pointer;
            }

            &--header {
                display: flex;
                flex-direction: column;
                cursor: pointer;

                .pop-up-section-head__info-content {
                    -webkit-line-clamp: 4;
                }
            }

            &--search {
                display: flex;

                &-field {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 32px;
                    padding: 6px 10px;
                    border-radius: 4px;
                    background: $sl-color-gray--200;

                    &__text {
                        @include line-clamp();
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    .o-icon {
                        margin-right: 10px;
                        font-size: 20px;
                        vertical-align: bottom;
                        color: $gl-color-grey--550;
                    }
                }

                &-toggle {
                    width: 24px;
                    height: 24px;
                    padding: 2px;
                    margin: 4px 12px;
                    font-size: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &--direct {
            border-top-left-radius: 0;

            .pop-up-section__inner {
                padding: 0;
                border: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-head {
            display: flex;
            gap: 12px;
            cursor: pointer;
            margin-bottom: auto;

            &__info {
                flex: 1;
                min-width: 0;

                &-title {
                    font-weight: 600;
                    color: $gl-color-grey--600;
                    margin-bottom: 4px;

                    &--steps {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        @include line-clamp();

                        span {
                            display: inline-block;
                        }
                    }
                }

                &-content {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    overflow: hidden;
                    max-height: 10em;

                    img {
                        display: none;
                    }
                }

                &-expand-checkbox {
                    font-size: 14px;
                }
            }

            &__icon {
                margin: 2px;
            }
        }

        &-switch {
            margin-top: 13px;

            .o-switch {
                display: inline-flex;
            }
        }

        &-footer {
            .pop-up-section__inner {
                padding: 0;
            }

            &-buttons {
                padding: 22px 16px 27px;
                display: flex;
                gap: 8px;

                &--column {
                    flex-direction: column-reverse;
                }

                &--start {
                    justify-content: flex-start;

                    &.pop-up-section-footer-buttons--column {
                        align-items: flex-start;
                    }
                }

                &--center {
                    justify-content: center;

                    &.pop-up-section-footer-buttons--column {
                        align-items: center;
                    }
                }

                &--end {
                    justify-content: flex-end;

                    &.pop-up-section-footer-buttons--column {
                        align-items: flex-end;
                    }
                }
            }

            &-link {
                background-color: #fff;
                padding: 5px 4px 7px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                border-radius: 2px;
                cursor: pointer;

                &__label {
                    color: $gl-color-accessible-green;
                    padding: 0 8px 0 6px;
                }

                &__icon {
                    &--visibility {
                        cursor: pointer;
                    }
                }

                &--disabled {
                    .pop-up-section-footer-link__label {
                        opacity: .4;
                    }
                }
            }

            &-button {
                background-color: #fff;
                border-radius: 2px;
                display: flex;
                gap: 8px;
                align-items: center;
                padding: 2px 6px 2px 2px;
                cursor: pointer;

                &__block {
                    min-width: 51px;
                    padding: 3px 16px 5px 8px;
                    background-color: $gl-color-accessible-green;
                    color: #fff;
                }
            }

            &-settings {
                background-color: #fff;
                padding: 15px 16px;
                display: flex;
                align-items: center;
                gap: 24px;
            }

            &-setting {
                display: flex;
                align-items: center;
                gap: 5px;

                &__label {
                    font-size: 12px;
                    line-height: 16px;
                    color: $gl-color-grey--600;
                }
            }
        }

        &__tabs {
            .pop-up-section__inner {
                border-color: $gl-color-black;
                padding-top: 32px;
                position: relative;
            }

            .remove-tab-btn {
                position: absolute;
                right: 0;
                top: 0;
                padding: 3px 5px 5px 8px;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                align-items: center;
                border: none;
                background-color: $gl-color-black;
                color: $gl-color-white;
                border-radius: 0 0 0 4px;
                cursor: pointer;

                &--disabled {
                    pointer-events: none;
                    opacity: .4;
                }
            }

            .add-tab-btn:hover {
                background-color: rgba($gl-color-black, .2);
            }
        }

        &__tabs-header {
            display: flex;
            justify-content: flex-start;

            &-list {
                overflow-x: auto;
                display: flex;
                justify-content: flex-start;
            }

            .pop-up-section__title {
                cursor: pointer;
                background-color: transparent;
                color: $gl-color-black;
                white-space: nowrap;

                &:hover {
                    background-color: rgba($gl-color-black, .2);
                }

                &--active {
                    color: $gl-color-white;
                    background-color: $gl-color-black;

                    &:hover {
                        color: $gl-color-white !important;
                        background-color: $gl-color-black !important;
                    }
                }
            }
        }
    }
}
