@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url('../../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
