@font-face {
  font-family: 'glide';
  src:  url('fonts/glide.eot?2upi24');
  src:  url('fonts/glide.eot?2upi24#iefix') format('embedded-opentype'),
    url('fonts/glide.ttf?2upi24') format('truetype'),
    url('fonts/glide.woff?2upi24') format('woff'),
    url('fonts/glide.svg?2upi24#glide') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="glide-icon-"], [class*=" glide-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glide' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glide-icon-visibility:before {
  content: "\e900";
}
.glide-icon-hover-element:before {
  content: "\e901";
}
.glide-icon-connect:before {
  content: "\e902";
}
.glide-icon-disconnect:before {
  content: "\e903";
}
.glide-icon-interaction:before {
  content: "\e904";
}
.glide-icon-union:before {
  content: "\e905";
}
.glide-icon-move:before {
  content: "\e906";
}
