$icomoon-font-family: "glide" !default;
$icomoon-font-path: "fonts" !default;

$glide-icon-interaction: unquote('"\\e904"');
$glide-icon-hover-element: unquote('"\\e901"');
$glide-icon-visibility: unquote('"\\e900"');
$glide-icon-connect: unquote('"\\e902"');
$glide-icon-disconnect: unquote('"\\e903"');
$glide-icon-union: unquote('"\\e905"');

$glide-icon-default-color: #53565a;

