.c-branching {
    min-height: 100%;
    padding-top: 24px;

    &__content {
        padding-left: 12px;
    }

    &__input-name {
        padding: 16px;

        .o-field__input {
            max-width: 366px;
        }
    }

    &__tabs {
        padding: 0 16px;

        .menu-tabs-nav {
            padding: 0;
        }
    }

    .menu-tabs {
        &-nav {
            overflow-x: auto;

            &__item {
                padding: 2px 12px 4px;

                .c-inlineFieldEditor {
                    &__input {
                        font-size: 12px;
                        line-height: 16px;
                        padding: 2px 8px 4px;
                        width: 75px;
                    }

                    &__text {
                        font-size: 14px;
                        line-height: 20px;
                        white-space: nowrap;

                        &--editableOnClick {
                            &:hover {
                                color: $gl-placeholder-color;
                            }
                        }
                    }
                }
            }
        }

        &-content {
            flex-direction: column;
        }
    }
}
