.c-emptyState {
    justify-content: center;
    height: 100%;
    border-radius: 6px;
    background-color: $gl-bg-empty;

    &--img {
        margin-top: 11px;
        background-color: transparent;

        .c-emptyState__content {
            padding: 0;
        }
    }

    &,
    &__content {
        display: flex;
        align-items: center;
    }

    &__content {
        flex-direction: column;
        padding: 24px 0;
    }

    &__img {
        width: 100%;
    }

    &__circle {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;

        & > img {
            display: block;
        }
    }

    &__message {
        margin-top: 24px;
        max-width: 198px;
        text-align: center;
    }
}
